---
import CarouselImages from './CarouselImages';
---

<!-- Defining a grid container that holds all the content -->
<section
    class='mx-auto w-full gap-4 bg-neutral-700 px-4 py-20 text-neutral-200 sm:px-6 md:grid-cols-2 md:items-center md:gap-8 md:py-14 lg:px-8 2xl:max-w-full'
>
    <div class='flex flex-col items-center justify-center gap-16'>
        <h1 class='font-semibold text-neutral-200 md:text-5xl'>
            Previous Work
        </h1>
        <CarouselImages client:load />
    </div>
</section>
