<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Enhanced Form</title>
    <style>
      .error-message {
        color: red;
        font-size: 0.85rem;
        display: none;
      }

      .success-message {
        color: green;
        font-size: 0.85rem;
        display: none;
      }

      .input.invalid {
        border-color: red;
      }

      .input.valid {
        border-color: green;
      }
    </style>
  </head>
  <body>
    <form
      id="enhancedForm"
      action="https://api.web3forms.com/submit"
      method="POST"
    >
      <input
        type="hidden"
        name="access_key"
        value="d3d68c6d-b71e-41ae-831b-eb0149048228"
      />
      <div class="grid grid-cols-1 gap-6 md:grid-cols-2">
        <div>
          <label
            class="label label-text font-semibold text-neutral-700"
            for="firstName"
            >First Name</label
          >
          <input
            id="firstName"
            name="First Name"
            type="text"
            placeholder="John"
            class="input border-neutral-500 bg-neutral-200 text-neutral-700 placeholder:text-neutral-400"
            required
          />
          <span class="error-message">Please enter your name.</span>
          <span class="success-message">Looks good!</span>
        </div>
        <div>
          <label
            class="label label-text font-semibold text-neutral-700"
            for="lastName"
            >Last Name</label
          >
          <input
            id="lastName"
            name="Last Name"
            type="text"
            placeholder="Doe"
            class="input border-neutral-500 bg-neutral-200 text-neutral-700 placeholder:text-neutral-400"
            required
          />
          <span class="error-message">Please enter your last name.</span>
          <span class="success-message">Looks good!</span>
        </div>
      </div>

      <div class="grid grid-cols-1 gap-6 md:grid-cols-2">
        <div>
          <label
            class="label label-text font-semibold text-neutral-700"
            for="userEmail"
            >Email</label
          >
          <input
            id="userEmail"
            type="email"
            name="Email"
            class="input border-neutral-500 bg-neutral-200 text-neutral-700 placeholder:text-neutral-400"
            placeholder="john@gmail.com"
            required
          />
          <span class="error-message">Please enter a valid email.</span>
          <span class="success-message">Looks good!</span>
        </div>
        <div>
          <label
            class="label label-text font-semibold text-neutral-700"
            for="userPhone"
            >Phone Number</label
          >
          <div
            class="input-group border-neutral-500 bg-neutral-200 text-neutral-700"
          >
            <input
              id="userPhone"
              name="Phone Number"
              type="tel"
              class="input border-neutral-500 bg-neutral-200 text-neutral-700 placeholder:text-neutral-400"
              placeholder="(555) 555-5555"
              required
            />
          </div>
          <span id="phone-error" class="error-message hidden text-red-500">
            Please enter a valid phone number (numbers only).
          </span>
          <span
            id="phone-success"
            class="success-message hidden text-green-500"
          >
            Looks good!
          </span>
        </div>
      </div>

      <div>
        <label
          class="label label-text font-semibold text-neutral-700"
          for="userAddress"
          >Address</label
        >
        <input
          id="userAddress"
          type="text"
          name="Address"
          class="input border-neutral-500 bg-neutral-200 text-neutral-700 placeholder:text-neutral-400"
          placeholder="1234 Main St"
          required
        />
        <span class="error-message">Please enter an address.</span>
        <span class="success-message">Looks good!</span>
      </div>

      <div class="grid grid-cols-1 gap-6 md:grid-cols-3">
        <div>
          <label
            class="label label-text font-semibold text-neutral-700"
            for="city"
            >City</label
          >
          <input
            id="city"
            name="City"
            type="text"
            placeholder="Springfield"
            class="input border-neutral-500 bg-neutral-200 text-neutral-700 placeholder:text-neutral-400"
            required
          />
          <span class="error-message">Please enter your city.</span>
          <span class="success-message">Looks good!</span>
        </div>
        <div>
          <label
            class="label label-text font-semibold text-neutral-700"
            for="state"
            >State</label
          >
          <input
            id="state"
            type="text"
            name="State"
            placeholder="MO"
            class="input border-neutral-500 bg-neutral-200 text-neutral-700 placeholder:text-neutral-400"
            required
          />
          <span class="error-message">Please enter your state.</span>
          <span class="success-message">Looks good!</span>
        </div>
        <div>
          <label
            class="label label-text font-semibold text-neutral-700"
            for="zipCode"
            >Zip Code</label
          >
          <input
            id="zipCode"
            type="text"
            name="Zip Code"
            placeholder="65806"
            class="input border-neutral-500 bg-neutral-200 text-neutral-700 placeholder:text-neutral-400"
            required
          />
          <span class="error-message">Please enter your zip code.</span>
          <span class="success-message">Looks good!</span>
        </div>
      </div>

      <div class="w-full">
        <label
          class="label label-text font-semibold text-neutral-700"
          for="userRequest"
          >Describe the reason for your request</label
        >
        <textarea
          id="userRequest"
          name="Request Description"
          class="textarea border-neutral-500 bg-neutral-200 text-neutral-700 placeholder:text-neutral-400"
          placeholder="I would like to request an estimate for..."
          required
        ></textarea>
        <span class="error-message">Please provide a description.</span>
        <span class="success-message">Looks good!</span>
      </div>

      <div class="mt-4 flex items-center justify-center">
        <button
          type="submit"
          class="btn btn-primary w-1/2 border-none bg-blue font-semibold text-neutral-200 hover:bg-dark"
        >
          Submit
        </button>
      </div>
    </form>

    <script>
      const form = document.getElementById("enhancedForm");
      const inputs = form.querySelectorAll(".input");

      inputs.forEach((input) => {
        input.addEventListener("input", () => {
          const errorMessage = input.nextElementSibling;
          const successMessage = errorMessage.nextElementSibling;

          if (input.validity.valid) {
            input.classList.remove("invalid");
            input.classList.add("valid");
            errorMessage.style.display = "none";
            successMessage.style.display = "block";
          } else {
            input.classList.remove("valid");
            input.classList.add("invalid");
            errorMessage.style.display = "block";
            successMessage.style.display = "none";
          }
        });
      });

      form.addEventListener("submit", (e) => {
        let isValid = true;

        inputs.forEach((input) => {
          if (!input.validity.valid) {
            isValid = false;
            const errorMessage = input.nextElementSibling;
            const successMessage = errorMessage.nextElementSibling;

            input.classList.add("invalid");
            input.classList.remove("valid");
            errorMessage.style.display = "block";
            successMessage.style.display = "none";
          }
        });

        if (!isValid) {
          e.preventDefault();
          alert("Please correct the errors in the form before submitting.");
        }
      });
    </script>
  </body>
</html>
