---
//Import relevant dependencies
import NavLink from '@components/ui/links/NavLink.astro';
import enStrings from '@utils/navigation.ts';
import { Image } from 'astro:assets';
import logo from 'src/components/logo.png';

// Select the correct translation based on the page's lang prop:
const strings = enStrings;
const homeUrl = '/';
---

<!-- Main header component -->
<header
    class='relative inset-x-0 top-0 z-50 flex w-full flex-wrap text-sm md:flex-nowrap md:justify-start'
>
    <!-- Navigation container -->
    <nav
        class='relative mx-2 w-full border bg-neutral-200 px-4 py-3 backdrop-blur-md md:flex md:items-center md:justify-between md:px-6 md:py-0 lg:px-8 xl:mx-auto'
        aria-label='Global'
    >
        <div class='flex items-center justify-between'>
            <!-- Brand logo -->
            <a
                class='flex-none rounded-lg text-xl font-bold outline-none ring-zinc-500 focus-visible:ring'
                href={homeUrl}
                aria-label='Brand'
            >
                <Image
                    alt='Company logo'
                    class='h-auto w-32'
                    src={logo}
                />
            </a>
            <!-- Collapse toggle for smaller screens -->
            <div class='ml-auto mr-5 md:hidden'>
                <button
                    type='button'
                    class='hs-collapse-toggle flex h-8 w-8 items-center justify-end rounded-full text-sm font-bold text-neutral-600 transition duration-300 hover:bg-[#336079] disabled:pointer-events-none disabled:opacity-50'
                    data-hs-collapse='#navbar-collapse-with-animation'
                    aria-controls='navbar-collapse-with-animation'
                    aria-label='Toggle navigation'
                >
                    <svg
                        class='h-[1.25rem] w-[1.25rem] flex-shrink-0 hs-collapse-open:hidden'
                        width='24'
                        height='24'
                        viewBox='0 0 24 24'
                        fill='none'
                        stroke='currentColor'
                        stroke-width='2'
                        stroke-linecap='round'
                        stroke-linejoin='round'
                    >
                        <line
                            x1='3'
                            x2='21'
                            y1='6'
                            y2='6'
                        ></line>
                        <line
                            x1='3'
                            x2='21'
                            y1='12'
                            y2='12'
                        ></line>
                        <line
                            x1='3'
                            x2='21'
                            y1='18'
                            y2='18'
                        ></line>
                    </svg>
                    <svg
                        class='hidden h-[1.25rem] w-[1.25rem] flex-shrink-0 hs-collapse-open:block'
                        width='24'
                        height='24'
                        viewBox='0 0 24 24'
                        fill='none'
                        stroke='currentColor'
                        stroke-width='2'
                        stroke-linecap='round'
                        stroke-linejoin='round'
                    >
                        <path d='M18 6 6 18'></path>
                        <path d='m6 6 12 12'></path>
                    </svg>
                </button>
            </div>
        </div>
        <!-- Contains navigation links -->
        <div
            id='navbar-collapse-with-animation'
            class='hs-collapse hidden grow basis-full overflow-hidden transition-all duration-300 md:block'
        >
            <!-- Navigation links container -->
            <div
                class='mt-5 flex flex-col items-center gap-x-0 gap-y-4 md:mt-0 md:flex-row md:justify-end md:gap-x-8 md:gap-y-0 md:space-x-10 lg:gap-x-7'
            >
                <NavLink
                    url={`#hero`}
                    name={''}
                />
                <NavLink
                    url={`#services`}
                    name={'Services'}
                />
                <NavLink
                    url={`#previous-work`}
                    name={'Previous Work'}
                />
                <NavLink
                    url={`#reviews`}
                    name={'Customer Reviews'}
                />
                <NavLink
                    url={`#free-estimate`}
                    name={'Schedule a free estimate'}
                />
            </div>
        </div>
    </nav>
</header>

<!--Import the necessary Collapse and Overlay plugins-->
<!--https://preline.co/plugins/html/collapse.html-->
<!--https://preline.co/plugins/html/overlay.html-->
<script>
    import '@preline/collapse/index.js';
    import '@preline/overlay/index.js';
</script>
